<footer id="contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="30">
    <div class="container">
        <div class="contact-p row">
            <div class="contact-sec1">

                <div class="contact-info">
                    <h3 class="contact-h">LET'S NAVIGATE THIS TOGETHER.</h3>
                    <p class="contact-index">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
                        sentence structures, to generate Lorem Ipsum which looks reasonable. injected humour, or non-characteristic words etc.</p>
                </div>

            </div>

            <div class="contact-sec2">

                <div class="common contact-about">
                    <h3 class="contact-h">ABOUT US</h3>
                    <a class="contact-index" href="">About Us</a>
                    <a class="contact-index" href="">Groups</a>
                    <a class="contact-index" href="">Contact</a>
                    <a class="contact-index" href="">Events</a>
                    <a class="contact-index" href="">Help & FAQs</a>
                </div>

                <div class="common contact-site">
                    <h3 class="contact-h">SITE</h3>
                    <a class="contact-index" href="">Term of Use</a>
                    <a class="contact-index" href="">Privacy Policy</a>
                    <a class="contact-index" href="">Sitemap</a>
                </div>

                <div class="common contact-con">
                    <h3 class="contact-h">CONNECT</h3>
                    <a class="contact-index" href="">Link or SignUp for Newslatter</a>
                    <div class="footer-icon">
                        <a class="contact-icon" href="#fb"> <i class="tab-icon fa fa-facebook"></i></a>
                        <a class="contact-icon fa" href="#twitter"><i class="tab-icon fa fa-twitter"></i></a>
                        <a class="contact-icon" href="#lin"><i class="tab-icon fa fa-linkedin-square"></i></a>
                        <a class="contact-icon" href="#inst"><i class="tab-icon fa fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="contact-border"></div>
    </div>
</footer>

<section id="copyright">
    <div class="container">
        <div class="copy-info">
            <p class="copy-text">&copy; Copyrights <span class="copy-span">Doctor Network</span> 2017. All Rights Reserved.
            </p>
        </div>
    </div>
    <!-- Subscribtion SECTION End -->
</section>