 
    <!--==================================================================
    =============================== Counter-START ========================-->
    <section id="counter">
        <div class="container">
            <div class="row">
                <div class=" counter-line counter-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <h2 class="counter-h"><span class="count">222</span><span>K</span></h2>
                    <p class="counter-p">Global Members</p>
                </div>
                <div class="counter-line counter-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <h2 class="counter-h"><span class="count">9</span><span>.3M</span></h2>
                    <p class="counter-p">Member Referrals (last 12 months)</p>
                </div>
                <div class="counter-line counter-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <h2 class="counter-h"><span class="count">8061</span></h2>
                    <p class="counter-p">Global Members</p>
                </div>
                <div class="counter-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <h2 class="counter-h"><span>$</span><span class="count">13</span><span>.7B</span></h2>
                    <p class="counter-p long-p">Member Closed Business (last 12 months)</p>
                </div>

                <!-- <div style="clear:both"></div>
        <div id="talkbubble"><span class="count">1421</span></div>
        <div id="talkbubble"><span class="count">145</span></div>
        <div id="talkbubble"><span class="count">78</span></div> -->
            </div>
        </div>
        <!--==================================================================
    =============================== Counter-END ========================-->
    </section>