 <!--==================================================================
    =============================== BANNER-START ========================-->
    <section id="banner" data-aos="animate__fadeInDown">

        <div class="bannerSlider">
            <div class="banner-info banner-detail">
                <div class="container">
                    <div class="banner-infot">
                        <div class="banner-text">
                            <!-- <div class="col7"> -->
                            <h1 class="banner-heading">Best Doctors Network platform that you’ve been waiting..</h1>
                            <p class="banner-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur.</p>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="banner-tab" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="30">

                <input type="radio" name="tabs" id="tab1">
                <label for="tab1" class="tab tab1">Search</label>
                <input type="radio" name="tabs" id="tab2" checked="">
                <label for="tab2" class="tab tab2">Member Login</label>
                <input type="radio" name="tabs" id="tab3">
                <label for="tab3" class="tab tab3">Register Now</label>


                <div id="tab-content1" class="tab-content1">
                    <form class="banner-form">
                        <label class="banner-name" for="fname">First NAME</label>
                        <input class="banner-input" type="text" id="fname" name="firstname">

                        <label class="banner-name" for="lname">Last NAME</label>
                        <input class="banner-input" type="text" id="lname" name="lastname">

                        <div class="tab-button">
                            <button class="tab-btn">SEARCH</button>
                        </div>

                        <div class="tab-text">
                            <p class="tab-txt">Or login with:</p>
                        </div>

                        <div class="tab-icon">
                            <a class="fb-anchor" href="#fb"> <i class="tab-icon fa fa-facebook"></i></a>
                            <a class="twitter-anchor fa" href="#twitter"><i class="tab-icon fa fa-twitter"></i></a>
                            <a class="lin-anchor" href="#lin"><i class="tab-icon fa fa-linkedin-square"></i></a>
                            <a class="inst-anchor" href="#inst"><i class="tab-icon fa fa-instagram"></i></a>
                        </div>
                        <div class="tab-border"></div>
                        <div class="tab-click">
                            <p class="tab-forget">Forgot your password? <span><a href="#click"> Click Here</a></span>
                            </p>

                        </div>

                    </form>

                </div>

                <div id="tab-content2" class="tab-content1">
                    <form class="banner-form">
                        <label class="banner-name" for="fname">USERNAME</label>
                        <input class="banner-input" type="text" id="fname" name="firstname">

                        <label class="banner-name" for="lname">PASSWORD</label>
                        <input class="banner-input" type="text" id="lname" name="lastname">

                        <div class="tab-button">
                            <button class="tab-btn">LOGIN</button>
                        </div>

                        <div class="tab-text">
                            <p class="tab-txt">Or login with:</p>
                        </div>

                        <div class="tab-icon">
                            <a class="fb-anchor" href="#fb"> <i class="tab-icon fa fa-facebook"></i></a>
                            <a class="twitter-anchor fa" href="#twitter"><i class="tab-icon fa fa-twitter"></i></a>
                            <a class="lin-anchor" href="#lin"><i class="tab-icon fa fa-linkedin-square"></i></a>
                            <a class="inst-anchor" href="#inst"><i class="tab-icon fa fa-instagram"></i></a>
                        </div>
                        <div class="tab-border"></div>
                        <div class="tab-click">
                            <p class="tab-forget">Forgot your password? <span><a href="#click"> Click Here</a></span>
                            </p>

                        </div>

                    </form>

                </div>


                <div id="tab-content3" class="tab-content1">
                    <form class="banner-form">
                        <label class="banner-name" for="fname">FULL Name</label>
                        <input class="banner-input" type="text" id="fname" name="firstname">

                        <label class="banner-name" for="lname">PASSWORD</label>
                        <input class="banner-input" type="text" id="lname" name="lastname">

                        <div class="tab-button">
                            <button class="tab-btn">REGISTER</button>
                        </div>

                        <div class="tab-text">
                            <p class="tab-txt">Or login with:</p>
                        </div>

                        <div class="tab-icon">
                            <a class="fb-anchor" href="#fb"> <i class="tab-icon fa fa-facebook"></i></a>
                            <a class="twitter-anchor fa" href="#twitter"><i class="tab-icon fa fa-twitter"></i></a>
                            <a class="lin-anchor" href="#lin"><i class="tab-icon fa fa-linkedin-square"></i></a>
                            <a class="inst-anchor" href="#inst"><i class="tab-icon fa fa-instagram"></i></a>
                        </div>
                        <div class="tab-border"></div>
                        <div class="tab-click">
                            <p class="tab-forget">Forgot your password? <span><a href="#click"> Click Here</a></span>
                            </p>

                        </div>

                    </form>
                </div>


            </div>
        </div>
        
    </section>
<!--==================================================================
    =============================== BANNER-END ========================-->


  