<!--==================================================================
    =============================== Test-START ========================-->
    <section id="test">
        <div class="container">

            <div class="test-card" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="30">

                <div class="card">
                    <div class="card-h">Advance Your Career</div>
                    <div class="card-box">
                        <div class="test-icon">
                            <img class="test-ishape" src="assets/img/colon.png" alt="missing">
                        </div>
                        <div class="test-image">
                            <img class="test-shape" src="assets/img/card1.png" alt="missing">
                        </div>
                        <div class="test-text">
                            <p class="test-p">James Kennedy, Harvard Law School</p>
                            <p class="test-p1">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-h">Build Your Team</div>
                    <div class="card-box">
                        <div class="test-icon">
                            <img class="test-ishape" src="assets/img/colon.png" alt="missing">
                        </div>
                        <div class="test-image">
                            <img class="test-shape" src="assets/img/card2.png" alt="missing">
                        </div>
                        <div class="test-text">
                            <p class="test-p">James Kennedy, Harvard Law School</p>
                            <p class="test-p1">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-h">Get Advise</div>
                    <div class="card-box">
                        <div class="test-icon">
                            <img class="test-ishape" src="assets/img/colon.png" alt="missing">
                        </div>
                        <div class="test-image">
                            <img class="test-shape" src="assets/img/card3.png" alt="missing">
                        </div>
                        <div class="test-text">
                            <p class="test-p">James Kennedy, Harvard Law School</p>
                            <p class="test-p1">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!--==================================================================
    =============================== Test-END ========================-->
    </section>