<!--==================================================================
    =============================== CTA-START ========================-->
    <section id="cta">
        <div class="cta-info">
            <div class="container">

                <div class="cta-text" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="30">
                    <h3 class="cta-h">FOR COMPANIES</h3>
                    <h3 class="cta-h1">You are Missing Out.</h3>
                    <p class="cta-p"> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden </p>
                </div>

                <div class="speciality-button">
                    <button class="speciality-btn">Get Started Now</button>
                </div>

            </div>
        </div>
        <!--==================================================================
    =============================== CTA-END ========================-->
    </section>
    <!--==================================================================
    =============================== CTA-START ========================-->
  